.accordion {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .accordion-item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: transparent;
        border-bottom: 1px solid #5F5F5F;
        padding-bottom: 16px;

        &:last-child {
            border: none;
        }

        .accordion-header {

            .accordion-button {
                padding: 0;
                box-shadow: none;
                border: none;
                background-color: transparent;
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 450;
                line-height: 120%;
                display: flex;
                justify-content: space-between;

                &::after {
                    display: none !important;
                }

                .accordion-icon {
                    display: inline-flex;
                    margin-left: 8px;
                }

                &.collapsed  img {
                    transform: rotate(180deg);
                }

                &:not(.collapsed) img {
                    transform: rotate(0deg); // və ya 180, necə xoşuna gəlirsə
                }
            }

            &:not(.collapsed) {
                background-color: transparent;
                color: #fff;
                box-shadow: none;
            }

            &:focus {
                background-color: transparent;
                color: #fff;
                box-shadow: none;
            }
        }
    }

    .accordion-collapse {
        .accordion-body {
            padding: 0;
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }
}