.blog-card {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .card-img {
        height: 317px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .card-infos {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .card-title {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }

        .card-description {
            color: #7E7E7E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            margin: 0;
        }

    }
}