@use '../../abstracts/mixins' as *;

.hover-accordion {
    display: flex;
    flex-direction: column;
    gap: 62px;
    cursor: pointer;

    .accordion-item {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        max-height: 40px;
        transition: max-height 0.5s ease-in;
        border-bottom: 1px solid #E9E9E9;
        padding-bottom: 12px;

        @include mq(tablet-portrait-up) {
            max-height: fit-content;
            flex-direction: column;
            gap: 24px;
        }


        .content {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .content-title {
                display: flex;
                gap: 12px;

                .list-num {
                    color: #13B5B7;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }

                .title-text {
                    color: #000;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }
            }

            .infos {
                display: flex;
                flex-direction: column;
                gap: 8px;

                span {
                    color: #7E7E7E;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 550;
                    line-height: 120%;
                }
            }

        }

        .accordion-img {
            width: 25%;
            border-radius: 12px;

            @include mq(tablet-portrait-up) {
                width: 100%;
                max-height: 343px;
            }

            img {
                width: 100%;
                border-radius: 12px;

            }
        }
    }

    &:hover {

        @include mq(tablet-portrait-down) {
            .accordion-item {
                max-height: 130px;
            }
        }


    }

}