@use '../../abstracts/mixins' as *;

.indicators-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-end;
    padding: 70px 50px;
    background-color: #000;

    @include mq(tablet-portrait-up) {
        padding: 50px 16px;
    }

    .indicators-header {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {}

        .indicator-title {
            color: #FFF;
            font-size: 32px;
            font-style: normal;
            font-weight: 550;
            line-height: 120%;

            .word {
                opacity: 0;
                animation: fadeInWord 0.4s ease forwards;
                animation-delay: calc(var(--word-index) * 0.2s);
            }

            .brand-highlight {
                color: #83FAFC;
                font-size: 32px;
                font-style: normal;
                font-weight: 550;
                line-height: 120%;
            }
        }

        .indicators-actions {
            display: flex;
            align-items: center;
            gap: 16px;

            .join-button {
                padding: 12px;
                text-decoration: none;
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                transition: all .2s ease-in;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

    }

    .indicators-body {
        width: 50%;

        @include mq(tablet-portrait-up) {
            width: 100%;
        }

        .indicator {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 24px;
            border-bottom: 1px solid #5f5f5f;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        span {
            color: #fff;
        }

        .value {
            font-size: 56px;
            font-style: normal;
            font-weight: 550;
            line-height: 120%;

            @include mq(phone-only) {
                font-size: 36px;
            }
        }

        .label {
            font-size: 16px;
            font-style: normal;
            font-weight: 450;
            line-height: 120%;

        }
    }

}