@use '../../abstracts/mixins' as *;

.btn-offcanvas{
    display: none;
    padding: 16px;
    background-color: transparent;
    border: none;
    
    @include mq(tablet-portrait-up){
        display: inline-block;
    }
}

.offcanvas {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;


    .offcanvas-header {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .offcanvas-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .offcanvas-navs {

            .nav-link {
                padding: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }

        .offcanvas-actions {
            display: flex;
            align-items: center;
            gap: 16px;

            .view-projects {
                color: #000;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding: 12px;
                text-decoration: none;
            }
        }

    }
}