.what-we-do-card {
    padding: 24px;
    border: 1px solid #E9E9E9;
    background: #FFF;

    .card-icon {
        margin-bottom: 16px;

        .corner-logo {

            .corner {
                transform-box: fill-box;
                transform-origin: center;
                transform: scale(1);
                animation: cornerPulse 3s ease-in-out infinite;
            }

            // sağ üst - birinci
            .corner--tr {
                animation-delay: 0s;
            }

            // sol alt - ikinci
            .corner--bl {
                animation-delay: 0.5s;
            }

            // sağ alt - üçüncü
            .corner--br {
                animation-delay: 1s;
            }

            // sol üst - dördüncü
            .corner--tl {
                animation-delay: 1.5s;
            }

        }

    }

    .card-title {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 550;
        line-height: 120%;
    }

    .card-description {
        margin-top: 12px;
        color: #7E7E7E;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        margin-bottom: 0;
    }
}


@keyframes cornerPulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    15% {
        transform: scale(1.4);
        opacity: 1;
    }

    30% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}