.hover-button-black {
  padding: 12px;
  border-radius: 6px;
  background: #000;
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  overflow: hidden;

  .label {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 24px;
    z-index: 9;
    position: relative;
  }

  .circle {
    width: 10px;
    height: 10px;
    background: white; // başda ağ
    border-radius: 50%;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  img {
    width: 24px;
    margin-left: 8px;
    opacity: 0;
    position: relative;
    transform: translateX(12px);
    z-index: 9;
  }

  &:hover {
    border: none;

    .circle {
      animation: circlePulseBlack 2s ease-out forwards;
    }

    img {
      animation: iconPulse 2s ease-out forwards;
    }
  }
}

.hover-button-white {
  padding: 12px;
  border-radius: 6px;
  background: #fff;
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  overflow: hidden;

  .label,
  span {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 24px;
    z-index: 9;
    position: relative;
  }

  .circle {
    width: 10px;
    height: 10px;
    background: black; // başda qara
    border-radius: 50%;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  img {
    width: 24px;
    margin-left: 8px;
    opacity: 0;
    transform: translateX(12px);
    position: relative;
    z-index: 9;
  }

  &:hover {
    border: none;

    .label,
    span {
      animation: labelPulseWhite 2s ease-out forwards;
    }

    .circle {
      animation: circlePulseWhite 2s ease-out forwards;
    }

    img {
      animation: iconPulse 2s ease-out forwards;
    }
  }
}

// animations

@keyframes circlePulseBlack {
  0% {
    width: 10px;
    height: 10px;
    left: 16px;
    border-radius: 50%;
    background: white;
  }

  20%,
  80% {
    width: 110%;
    height: 110%;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(
      96deg,
      #60adac -1.27%,
      #ac5a7e 48%,
      #bdd9b4 99.19%
    );
  }

  100% {
    width: 10px;
    height: 10px;
    left: 16px;
    border-radius: 50%;
    background: white
  }
}

@keyframes circlePulseWhite {
  0% {
    width: 10px;
    height: 10px;
    left: 16px;
    border-radius: 50%;
    background: black;
  }

  20%,
  80% {
    width: 110%;
    height: 110%;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(
      96deg,
      #60adac -1.27%,
      #ac5a7e 48%,
      #bdd9b4 99.19%
    );
  }

  100% {
    width: 10px;
    height: 10px;
    left: 16px;
    border-radius: 50%;
    background: black; // sonda yenə qara
  }
}

@keyframes iconPulse {
  0% {
    opacity: 0;
    transform: translateX(12px);
  }

  20% {
    opacity: 1;
    transform: translateX(0);
  }

  80% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(12px);
  }
}

@keyframes labelPulseWhite {
  0% {
    color: #000;
  }

  20%,
  80% {
    color: #fff;
  }

  100% {
    color: #000;
  }
}
