@use '../abstracts/mixins' as *;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p {
    margin-bottom: 0;
}

a{
    text-decoration: none;
}

.section-title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 550;
    line-height: 120%;
}

.section-description {
    color: #7E7E7E;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}