// base
@use './base/base';
@use './abstracts/mixins';
@use './abstracts/variables';


// layout
@use './layout/header.scss';
@use './layout/footer.scss';

// components
@use './components/logo';
@use './components/buttons/hoverButton';
@use './components/cards/project-card';
@use './components/cards/hover-accordion';
@use './components/cards/what-we-do-card';
@use './components/cards/blog-card';
@use './components/cards/accordion';
@use './components/cards/offcanvas';
@use './components/cards/partner-card';
@use './components/inputs/inputWithLabel';
@use './components/inputs/selectWithLabel';
@use './components/inputs/textareaWithLabel';
@use './components/cards/indicators';
@use './components/cards/logo-strip';

// pages
@use './pages/index';
@use './pages/portfolio';
@use './pages/portfolioDetails';
@use './pages/partners';
@use './pages/contactUs';
@use './pages/blogs';
@use './pages/blogDetails';
@use './pages/aboutUs';
@use './pages/ourServices';


@use './pages/test';
