.textarea-with-label {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid #CECECE;
    width: 100%;
    min-height: 200px;

    label {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
    }

    textarea {
        color: #7E7E7E;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        width: 100%;
    }
}