@use '../abstracts/mixins' as *;

.footer-container {
    position: relative;
    background-color: #000;
    padding: 70px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow: hidden;

    @include mq(tablet-portrait-up) {
        padding: 70px 16px;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        gap: 50px;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
        }

        .left {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .dashed-box {
                padding: 16px;
                border: 1px dashed #5E5E5E;
                position: relative;
                height: fit-content;

                &__corner {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border: 0.2px solid #E9E9E9;
                    background: #000;
                }

                &__corner--tl {
                    top: -10px;
                    left: -10px;
                }

                &__corner--tr {
                    top: -10px;
                    right: -10px;
                }

                &__corner--bl {
                    bottom: -10px;
                    left: -10px;
                }

                &__corner--br {
                    bottom: -10px;
                    right: -10px;
                }

                .dashed-header {

                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .dashed-title {
                        display: flex;
                        position: relative;

                        span {
                            color: #FFF;
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 550;
                            line-height: 120%;
                        }


                        .dot-img {
                            width: 150px;
                            height: 170px;
                            aspect-ratio: 25.00/25.31;
                            position: absolute;
                            left: 360px;
                            top: -20px;

                        }

                    }

                    .dashed-description {
                        color: rgba(255, 255, 255, 0.70);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }


            }

            .actions {
                display: flex;
                gap: 16px;

                @include mq(tablet-portrait-up) {
                    width: 100%;
                    justify-content: center;
                }

                .discover-projects {
                    padding: 12px;
                    color: #FFF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration: none;
                }
            }
        }

        .right {

            .footer-infos {
                display: flex;
                gap: 50px;

                @include mq(tablet-portrait-up) {
                    flex-direction: column;
                    align-items: center;
                }

                .contact-infos {
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                    @include mq(tablet-portrait-up) {
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                    }
                }

                .page-routes {

                    a {
                        text-decoration: none;
                        text-wrap: nowrap;
                    }
                }

                .social-media {

                    a {
                        display: flex;
                        gap: 8px;
                        text-wrap: nowrap;
                    }

                }

                .flex-div {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }

                .info-title {
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                .infos {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }

                .info {
                    color: rgba(255, 255, 255, 0.70);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

            }
        }

    }

    .privacy-and-policy {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 24px;

        span {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.70);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.70);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        b {
            color: rgba(255, 255, 255, 0.70);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .gradient-layer-left {
        width: 838.235px;
        height: 838.235px;
        position: absolute;
        bottom: -800px;
        border-radius: 50%;
        background: rgba(83, 165, 166, 0.64);
        filter: blur(209.55882263183594px);
    }

    .gradient-layer-right {
        width: 465px;
        height: 465px;
        position: absolute;
        right: -56px;
        bottom: 800px;
        border-radius: 50%;
        background: rgba(83, 165, 166, 0.44);
        filter: blur(209.55882263183594px);
    }

}