@use '../abstracts/mixins' as *;

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;

    .logo-container {
        cursor: pointer;
    }

    .header-navs {
        display: flex;
        align-items: center;
        gap: 10px;

        .nav-link {
            position: relative;
            padding: 12px;
            font-size: 14px;
            font-weight: 500;
            color: #000;
            text-decoration: none;
            overflow: hidden;

            .nav-link__inner {
                position: relative;
                display: inline-block;
                z-index: 1;
                transform: translateY(0);
                transition: transform 0.2s ease-in, opacity 0.2s ease-in;
            }

            &::after {
                content: attr(data-text);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -150%);
                white-space: nowrap;
                color: #53A5A6;
                opacity: 0;
                transition: transform 0.2s ease-in, opacity 0.2s ease-in;
            }

            &:hover {
                .nav-link__inner {
                    opacity: 0;
                    transform: translateY(150%);
                }

                &::after {
                    opacity: 1;
                    transform: translate(-50%, -50%);
                }
            }
        }

    }

    @include mq(tablet-portrait-up) {

        .hover-button-white{
            display: none;
        }

        .header-navs{
            display: none;
        }
    }
}