.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;

    .logo-container {
        cursor: pointer;
    }

    .header-navs {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            padding: 12px;
            color: #000;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
        }

    }
}