.services-dropdown {
    padding: 32px 50px;
    gap: 50px;
    justify-content: space-between;
    width: 100%;
    display: none;
    transition: all .2s ease-in;
    cursor: pointer;

    .dropdown-links {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .dropdown-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 98%;
            padding: 10px;
            border-bottom: 1px solid #E9E9E9;
            position: relative;
            transition: all .2s ease-in;

            &:hover {
                width: 100%;
            }

            .link-item {
                color: #000;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;


            }

        }

    }

    .dropdown-img-preview {
        height: auto;
        max-width: 364px;
        border-radius: 12px;
        overflow: hidden;


        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: opacity 0.4s ease;
        }
    }

}

.is-open {
    display: flex;
}