@use '../abstracts/mixins' as *;


.about-us-container {

    .hero-image {
        height: 700px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .what-we-do {
        padding: 100px 50px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include mq(tablet-portrait-up) {
            padding: 50px 16px;
        }

        .section-header {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .header-top {
                display: flex;
                align-items: center;
                gap: 16px;

                .line-div {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    flex: 1;

                    .line {
                        flex-grow: 1;
                        height: 1px;
                        background-color: #000;
                    }
                }

                @include mq(tablet-portrait-up) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                .section-title{
                    text-align: left;
                }
            }

            .header-bottom {
                display: flex;
                justify-content: flex-end;
            }
        }

        @include mq(tablet-portrait-up) {
            flex-direction: column;

            .line-div {
                width: 100%;
            }

        }

    }

    .section-body {
        display: flex;
        justify-content: flex-end;

        .section-description {
            width: 40%;
            text-align: right;

            @include mq(tablet-portrait-up) {
                width: 100%;
                text-align: left;
            }
        }

    }
}

.services-offer {
    padding: 32px 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mq(tablet-portrait-up) {
        padding: 32px 16px;
    }

    .section-header {
        display: flex;
        justify-content: center;
    }

    .section-actions {
        display: flex;
        justify-content: center;
    }

}