@use '../abstracts/mixins' as *;


.about-us-container {

    .hero-image {
        height: 700px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .what-we-do {
        padding: 100px 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

        .info-bar {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .info-title {
                font-weight: 600;
                font-size: 22px;
            }

            .info-description {
                color: #7e7e7e;
                font-weight: 500;
            }
        }

        .grid-full {
            grid-column: 1 / -1;
        }

        @include mq(tablet-portrait-up) {
            padding: 50px 16px;
            grid-template-columns: repeat(1, 1fr);
        }

    }

    .section-body {
        display: flex;
        justify-content: flex-end;

        .section-description {
            width: 40%;
            text-align: right;

            @include mq(tablet-portrait-up) {
                width: 100%;
                text-align: left;
            }
        }

    }
}

.services-offer {
    padding: 32px 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mq(tablet-portrait-up) {
        padding: 32px 16px;
    }

    .section-header {
        display: flex;
        justify-content: center;
    }

    .section-actions {
        display: flex;
        justify-content: center;
    }

}