@use '../abstracts/mixins' as *;

.blogs-container {

    .blogs-hero {
        padding: 100px 50px 70px 50px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
            width: 50%;
        }

        @include mq(tablet-portrait-up) {
            padding: 50px 16px;

            p {
                width: 100%;
            }
        }
    }

    .blog-categories {
        padding: 50px 50px;
        display: flex;
        justify-content: center;
        gap: 128px;

        .category-box {
            display: flex;
            align-items: center;
            gap: 12px;
            background-color: transparent;
            border: none;
            transition: all 0.2s ease-in;

            &:hover{
                transform: scale(1.1);
            }

            .category-icon {
                padding: 10px;
                border-radius: 8px;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            .news {
                background-color: #7BD88A;
            }

            .campagin{
                background-color: #3C7FF1;
            }
            
            .article{
                background-color: #49D4BA;
            }
            
            .other{
                background-color: #6F5FA6;
            }

            .category-infos {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .category-title {
                    font-weight: 500;
                }

                .count {
                    color: #7e7e7e;
                }
            }
        }


    }

    .most-recent-blogs {
        padding: 0 50px 100px 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
        row-gap: 50px;

        @include mq(tablet-portrait-up) {
            padding: 0 16px 50px 16px;

            grid-template-columns: repeat(1, 1fr);

        }
    }

}