.homepage-container {

    .hero-section {

        .hero-top {
            display: flex;
            flex-direction: column;
            padding: 50px;

            .hero-title {
                display: flex;
                position: relative;
                margin-top: 100px;

                span {
                    font-size: 58px;
                    font-weight: 600;
                }

                img {
                    width: 70px;
                    height: 80px;
                    position: absolute;
                    bottom: -15px;
                    left: 385px;
                }
            }
            
            .hero-description{
                margin-top: 16px;
                font-size: 16px;
            }

            .hover-button{
                margin-top: 32px;
                width: fit-content;
            }
        }

        .hero-video-div {
            height: 700px;

            .hero-video {
                width: 100%;
                height: 700px;
                object-fit: cover;
            }
        }

        // .hero-bottom {}
    }





}