@use '../abstracts/mixins' as *;

.homepage-container {

    .hero-section {
        overflow: hidden;

        .hero-top {
            display: flex;
            flex-direction: column;
            padding: 50px;

            @include mq(tablet-portrait-up) {
                padding: 50px 16px;
            }

            .hero-title {
                position: relative;

                &__line {
                    display: inline-block;
                    font-size: 64px;
                    font-weight: 700;
                    line-height: 1.1;
                    opacity: 0;
                    animation: heroLineIn 0.2s ease forwards;
                    margin-right: 5px;

                    &--1 {
                        animation-delay: .5s;
                    }

                    &--2 {
                        animation-delay: 1s;
                    }

                    &--3 {
                        animation-delay: 1.5s;
                    }

                    &--4 {
                        animation-delay: 2s;
                    }
                }

                img {
                    width: 85px;
                    height: 100px;
                    position: absolute;
                    bottom: -35px;
                    animation: imgLine 1.5s ease forwards;
                    animation-delay: 2s;
                    transform: translateX(1000px);
                }
            }

            .hero-description {
                margin-top: 16px;
                font-size: 16px;

                .word {
                    opacity: 0;
                    animation: fadeInWord 0.4s ease forwards;
                    animation-delay: calc(var(--word-index) * .1s);
                }
            }

            .hover-button-black {
                margin-top: 32px;
            }
        }

        .hero-video-div {
            height: 700px;

            .hero-video {
                width: 100%;
                height: 700px;
                object-fit: cover;
            }
        }
    }
}

.nav-link-services {
    &:hover {
        .services-dropdown {
            display: none !important;
            background-color: green;
        }
    }
}

.selected-projects {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mq(tablet-portrait-up) {
        padding: 50px 16px;
    }

    .section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            gap: 16px;
        }
    }

    .project-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

        @include mq(tablet-portrait-up) {
            grid-template-columns: repeat(1, 1fr);
        }

    }
}

.services-offer {
    padding: 32px 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mq(tablet-portrait-up) {
        padding: 32px 16px;
    }

    .section-header {
        display: flex;
        justify-content: center;
    }

}

.our-partners {
    padding: 70px 50px;
    background-color: #000;

    @include mq(tablet-portrait-up) {
        padding: 70px 16px;
    }

    .section-title {
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
    }

    .section-text {
        color: #FFF;
        font-size: 32px;
        font-weight: 550;
        line-height: 120%;
        margin-top: 16px;

        .word {
            opacity: 0;
            animation: fadeInWord 0.4s ease forwards;
            animation-delay: calc(var(--word-index) * 0.2s);
        }

        .brand-highlight {
            color: #83FAFC;
            font-size: 32px;
            font-weight: 550;
            line-height: 120%;
        }
    }

    .hover-button-white {
        margin-top: 32px;
    }

}

.what-we-do-homepage {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include mq(tablet-portrait-up) {
        padding: 50px 16px;
    }

    .section-body {
        .what-we-do-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);


            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(1, 1fr);

            }
        }
    }

}

.featured-blogs {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mq(tablet-portrait-up) {
        padding: 50px 16px;
    }

    .section-header {
        display: flex;
        justify-content: space-between;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }
    }

    .section-body {

        .blog-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;

            @include mq(tablet-portrait-up) {
                grid-template-columns: repeat(1, 1fr);

            }
        }
    }
}

.frequently-asked-guestions {
    padding: 70px 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    background-color: #000;

    @include mq(tablet-portrait-up) {
        padding: 70px 16px;
    }

    .section-header {
        text-align: center;

        .section-title {
            color: #fff;
        }
    }
}


@keyframes heroLineIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes imgLine {
    from {
        opacity: 0;
        transform: translateX(1000px);
    }

    to {
        opacity: 1;
        transform: translateX(-30px);
    }
}

@keyframes fadeInWord {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes brandScrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes brandScrollRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}