@use '../abstracts/mixins' as *;

.our-services-container {

    .hero-section {
        padding: 100px 50px 50px 50px;
        display: flex;
        align-items: center;
        gap: 16px;

        .hero-intro {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 50%;

            .section-title {
                span {
                    color: #000;
                    font-size: 32px;
                    font-style: italic;
                    font-weight: 500;
                    line-height: 140%;
                }
            }

            .hover-button-black {
                margin-top: 16px;
            }

            .badgets {
                display: flex;
                gap: 12px;
                justify-content: flex-end;

                @include mq(tablet-portrait-up) {
                    justify-content: flex-start;
                    flex-wrap: wrap;
                }

                .badget {
                    padding: 10px 16px;
                    border-radius: 99px;
                    background: #E9E9E9;

                    color: #000;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }
            }

        }

        .hero-image{
            width: 50%;
            max-height: 400px;

            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }


        @include mq(tablet-portrait-up) {
            padding: 50px 16px;
        }
    }

    .how-we-do {
        padding: 50px 50px 100px 50px;
        display: flex;
        gap: 32px;

        .section-intro {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .section-form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;

                @include mq(tablet-portrait-up) {
                    width: 100%;
                    grid-template-columns: repeat(1, 1fr);
                }

                .form-grid-item {
                    &:nth-child(n+3) {
                        grid-column: 1 / -1;
                    }
                }
            }
        }

        .a {
            font-size: 24px;
            font-weight: 500;
        }

        .section-text {
            width: 50%;
        }

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            padding: 16px 16px 50px 16px;

            .section-intro {
                width: 100%;
            }

            .section-text {
                width: 100%;
            }
        }
    }


    .services-offer {
        .section-header {
            justify-content: space-between;
        }
    }

}