@use '../abstracts/mixins' as *;

.portfolio-details-container {


    .hero-image {
        height: 700px;

        video {
            object-fit: cover;
            width: 100%;
            height: 700px;
        }
    }

    .text-section {
        display: flex;
        gap: 32px;
        padding: 50px;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            padding: 24px 16px;
        }

        .intro {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 50%;

            @include mq(tablet-portrait-up) {
                width: 100%;
            }

            .badgets {
                display: flex;
                gap: 8px;
                align-items: center;

                .badget {
                    padding: 10px 16px;
                    border-radius: 99px;
                    background: #E9E9E9;
                    width: fit-content;
                    color: #000;
                }
            }



            .intro-title {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
            }
        }

        .text {
            width: 50%;

            @include mq(tablet-portrait-up) {
                width: 100%;
            }
        }
    }

    .image-grid--2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 0px 50px 50px 50px;

        @include mq(tablet-portrait-up) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 16px 24px 16px;

        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            overflow: hidden;
        }
    }

    .image-grid--3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 0 50px 50px 50px;


        @include mq(tablet-portrait-up) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 16px 24px 16px;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
            overflow: hidden;
        }

        >img:nth-child(1) {
            grid-column: 1 / 3;
        }

        >img:nth-child(2) {
            grid-column: 1 / 2;

            @include mq(tablet-portrait-up) {
                grid-column: 1 / 3;

            }
        }

        >img:nth-child(3) {
            grid-column: 2 / 3;

            @include mq(tablet-portrait-up) {
                grid-column: 1 / 3;

            }
        }
    }
}