@use '../abstracts/mixins' as *;

.portfolio-container {

    .hero-section {
        padding: 100px 60px 50px 50px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include mq(tablet-portrait-up) {
            padding: 50px 16px 32px 16px;
        }

        .hero-header {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

    }

    .project-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        padding: 0 50px 100px 50px;

        @include mq(tablet-portrait-up) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 16px 50px 16px;
        }
    }

}