.test-container {
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .black {
    padding: 50px;
    background-color: black;
  }

  .hover-button-black {
    padding: 12px;
    border-radius: 6px;
    background: #000;
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;

    span {
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 24px;
      z-index: 9;
    }

    .circle {
      width: 10px;
      height: 10px;
      background: linear-gradient(96deg, #60ADAC -1.27%, #AC5A7E 48%, #BDD9B4 99.19%);
      border-radius: 50%;
      position: absolute;
      left: 16px;
      transition: all 0.2s ease-in;
    }

    img {
      width: 24px;
      margin-left: 8px;
      opacity: 0;
      transform: translateX(12px);
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }

    &:hover {
      border: none;

      .circle {
        width: 100%;
        height: 100%;
        left: 0;
        border-radius: 5px;
      }

      img {
        opacity: 1;
        transform: translateX(0);
      }
    }

  }

  .hover-button-white {
    padding: 12px;
    border-radius: 6px;
    background: #fff;
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;

    span {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 24px;
      z-index: 9;
    }

    .circle {
      width: 10px;
      height: 10px;
      background: linear-gradient(96deg, #60ADAC -1.27%, #AC5A7E 48%, #BDD9B4 99.19%);
      border-radius: 50%;
      position: absolute;
      left: 16px;
      transition: all 0.2s ease-in;
    }

    img {
      width: 24px;
      margin-left: 8px;
      opacity: 0;
      transform: translateX(12px);
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }

    &:hover {
      border: none;

      span {
        color: #fff;
      }

      .circle {
        width: 100%;
        height: 100%;
        left: 0;
        border-radius: 5px;
      }

      img {
        opacity: 1;
        transform: translateX(0);
      }
    }

  }

}