.corner-logo {
  width: 47px;
  height: 47px;

  .corner {
    transform-box: fill-box;
    transform-origin: center;
    transform: scale(1);
    animation: cornerPulse 2s ease-in-out infinite;
  }

  .corner--tl { animation-delay: 0s; }
  .corner--tr { animation-delay: 0.5s; }
  .corner--br { animation-delay: 1s; }
  .corner--bl { animation-delay: 1.5s; }
}

@keyframes cornerPulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  15% {
    transform: scale(1.4);
    opacity: 1;
  }
  30% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
